<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <servlet>
        <servlet-name>ListSongServlet</servlet-name>
        <servlet-class>web.ListSongServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListSongServlet</servlet-name>
        <url-pattern>/ListSongServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HotSongServlet</servlet-name>
        <servlet-class>web.HotSongServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HotSongServlet</servlet-name>
        <url-pattern>/HotSongServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>web.loginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserInfoServlet</servlet-name>
        <servlet-class>web.UserInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserInfoServlet</servlet-name>
        <url-pattern>/UserInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>web.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PlayServlet</servlet-name>
        <servlet-class>web.PlayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlayServlet</servlet-name>
        <url-pattern>/PlayServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SingerInfoServlet</servlet-name>
        <servlet-class>web.SingerInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SingerInfoServlet</servlet-name>
        <url-pattern>/SingerInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManagerLoginServlet</servlet-name>
        <servlet-class>web.manager.ManagerLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagerLoginServlet</servlet-name>
        <url-pattern>/ManagerLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MyMusicServlet</servlet-name>
        <servlet-class>web.MyMusicServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyMusicServlet</servlet-name>
        <url-pattern>/MyMusicServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SongListInfoServlet</servlet-name>
        <servlet-class>web.SongListInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SongListInfoServlet</servlet-name>
        <url-pattern>/SongListInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>web.manager.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>web.manager.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/AddServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddFavSongServlet</servlet-name>
        <servlet-class>web.AddFavSongServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddFavSongServlet</servlet-name>
        <url-pattern>/AddFavSongServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DelFavSongServlet</servlet-name>
        <servlet-class>web.DelFavSongServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelFavSongServlet</servlet-name>
        <url-pattern>/DelFavSongServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ColListServlet</servlet-name>
        <servlet-class>web.ColListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ColListServlet</servlet-name>
        <url-pattern>/ColListServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TakeOffListServlet</servlet-name>
        <servlet-class>web.TakeOffListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TakeOffListServlet</servlet-name>
        <url-pattern>/TakeOffListServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AlbumInfoServlet</servlet-name>
        <servlet-class>web.AlbumInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlbumInfoServlet</servlet-name>
        <url-pattern>/AlbumInfoServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddListServlet</servlet-name>
        <servlet-class>web.AddListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddListServlet</servlet-name>
        <url-pattern>/AddListServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddListSongServlet</servlet-name>
        <servlet-class>web.AddListSongServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddListSongServlet</servlet-name>
        <url-pattern>/AddListSongServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DelListServlet</servlet-name>
        <servlet-class>web.DelListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelListServlet</servlet-name>
        <url-pattern>/DelListServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommendServlet</servlet-name>
        <servlet-class>web.CommendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommendServlet</servlet-name>
        <url-pattern>/CommendServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RankSongServlet</servlet-name>
        <servlet-class>web.RankSongServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RankSongServlet</servlet-name>
        <url-pattern>/RankSongServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RankAlbumServlet</servlet-name>
        <servlet-class>web.RankAlbumServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RankAlbumServlet</servlet-name>
        <url-pattern>/RankAlbumServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AllLogServlet</servlet-name>
        <servlet-class>web.manager.AllLogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllLogServlet</servlet-name>
        <url-pattern>/AllLogServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>web.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>web.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
</web-app>

